.header {
    background-color: #fff;
    font-family: Arial, serif;
    align-items: center;
    justify-content: center;
}
.header img{
    width: 100px;
    height: auto;
}
.container{
    padding: 20px;
}